/* CSS Document */
/*body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}*/
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#333; margin:0 auto; }

a{ color:#333; text-decoration:none;}
a:hover{ text-decoration:none;}

.tab01-log{ width:360px; margin:20px auto;}
.tab01-log td{ padding-bottom:12px;}
#numkeybordp{position:relative;top:770px;left:460px;width:1000px; font-size:12px; height:0px;}
#numkeybord{ /*padding-top:100px; padding-left:100px; */ /*background:url(../image/bg02.png)  no-repeat;*/ width:600px; font-size:12px; height:500px; display:none;}
#keymain{ position:absolute;width:100%; }
#keymain li{ background:url(../image/btn.gif) no-repeat; text-align:center; margin:0 1px 10px 0px; display:inline; line-height:46px; font-size:24px; width:54px; height:46px; display:block; float:left; color:#fff; cursor:pointer;}
#keymain li#esc{ font-size:12px;}
.text{ width:200px; height:20px; line-height:20px; border:1px solid #ccc;}

