body {
     background-color: #FFFAF0;
     background-position:center center;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     height:100%;
     overflow:hidden;
    }
    body form{
      margin-right: 30%;
      margin-top: 5%;
      margin-left: 30%;
    }