label{
            display: block;
            color: #F73678;
        }
        form{
            width: 40%;
            margin: 0 auto;
        }
        pre{
            text-align: center;
            margin: 0 auto;
        }
        #pre{
            margin: 0 auto;
            width: 15%;
            border-width:3px;
            border-style:dashed;
            border-color:#FFAC55;
            padding:5px
        }