body {
     background-color: #FFFAF0;
     background-position:center-center;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     height:100%;
     overflow:hidden;
    }


    body{
    height:100%;
    }

    .all{
    margin-top: 0%;
    width:100%;
    background-image: url(img/Wood.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    }